{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    Weathertop 2
  </h3>
  <p>
    Weathertop allows users to input weather data frim their Weathertop device
  </p>
</section>